.relative {
    display:flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    background-color: #EFE6AE;
    /* left: 300px; */
    border: 3px solid #CDEAC0;
}